.player-list.page {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;

  & .card {
    --neumo-item-distance: 5px;

    & .player-count-label {
      font-size: 1.5em;
      font-weight: bold;
      margin: 0.5em;
    }

    & ul {
      margin: 0;
      list-style: none;
      padding: 0;

      & > li {
        user-select: none;

        &.self {
          --max-shake-distance: 2%;

          font-weight: bold;
          animation: shake 5s linear infinite;
        }

        &.host::after {
          content: " (host)";
          font-style: italic;
          filter: contrast(0.5);
        }
      }
    }
  }
}
