.home.page {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-items: center;

  & .card {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    animation: card-init 1s ease-in-out forwards;

    &.neumo {
      --neumo-item-distance: 5px;
      padding: 25px;
    }

    & > * {
      flex: 1 1 auto;
    }
  }
}

@keyframes card-init {
  0% {
    --neumo-item-distance: 200px;
  }
}
