.nav-bar {
  display: flex;
  margin-bottom: -20px;
  padding-bottom: 20px;

  & button {
    flex: 1 1 auto;

    &.active {
      --neumo-item-background-color: var(--accent-color);
    }

    &.attention {
      --max-shake-distance: 5%;

      animation: shake 1s ease-in-out infinite;
    }

    &[name="exit"] {
      --neumo-item-color: hsl(0, 50%, 60%);

      @media (prefers-color-scheme: dark) {
        --neumo-item-color: hsl(0, 50%, 40%);
      }
    }
  }
}
