.game-list.view {
  dialog {
    height: 80%;
    width: 80%;

    &[open] {
      display: flex;
    }

    &::backdrop {
      backdrop-filter: blur(20px);
    }

    &.config-dialog {
      flex-direction: column;

      & > .json-editor-scroll-wrapper {
        overflow-y: auto;
        flex: 1 1 auto;
      }

      & > button {
        flex: 0 0 auto;

        &.confirm {
          --neumo-item-background-color: var(--accent-color);
        }
      }
    }

    &.start-game-dialog {
      flex-direction: column;

      & > div {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        overflow: auto;

        & button {
          flex: 0 0 auto;
        }
      }
    }
  }

  & div.game-list {
    display: flex;
    flex-direction: column;

    & > button {
      flex: 0 0 auto;

      & .player-name-list {
        display: flex;

        & .player-name {
          --neumo-item-distance: 5px;
        }
      }
    }
  }
}
