header {
  --header-height-estimated: 72px; /* This should be a very close approximate to its actual size. */

  display: flex;
  max-height: var(--header-height-estimated);
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease, margin 0.5s ease,
    opacity 0.5s ease;
  opacity: 1;

  &.collapsed {
    max-height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
  }

  & nav {
    display: flex;
    flex: 1 1 0;
  }
}
