header {
  --header-height-estimated: 72px; /* This should be a very close approximate to its actual size. */

  display: flex;
  max-height: var(--header-height-estimated);
  overflow: hidden;
  opacity: 1;

  /* Add specificity */
  &.neumo {
    transition: max-height 0.5s ease, padding 0.5s ease, margin 0.5s ease,
      opacity 0.5s ease;
  }

  &.collapsed {
    max-height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
  }

  & nav {
    display: flex;
    flex: 1 1 100%;
    overflow: hidden;
    gap: 20px;

    & .left-group {
      display: flex;
      flex: 0 0 auto;
    }

    & .right-group {
      display: block;
      flex: 1 1 auto;
      overflow-x: auto;

      & .scroll-helper {
        display: flex;
        justify-content: flex-end;
        width: fit-content;
        min-width: 100%;
      }

      & a {
        flex: 0 0 auto;
      }
    }

    & a.attention {
      --max-shake-distance: 5%;

      animation: shake 1s ease-in-out infinite;
    }
  }
}
