header {
  --header-height-estimated: 72px; /* TODO This should be a very close approximate to its actual size. Later we might want a way that does not use a hard-coded size. */

  display: flex;
  max-height: var(--header-height-estimated);
  overflow: hidden;
  opacity: 1;

  /* Add specificity */
  &.neumo {
    transition-property: var(--neumo-item-transition-protperty) max-height,
      padding, margin, opacity;
  }

  &.collapsed {
    max-height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
  }

  & nav {
    display: flex;
    flex: 1 1 100%;
    overflow: hidden;
    gap: 20px;

    & .left-group {
      display: flex;
      flex: 0 0 auto;
    }

    & .right-group {
      display: block;
      flex: 1 1 auto;
      overflow-x: auto;
      overflow-y: hidden;

      & .scroll-helper {
        display: flex;
        justify-content: flex-end;
        width: fit-content;
        min-width: 100%;
      }

      & a {
        flex: 0 0 auto;
      }
    }

    & a.active {
      --neumo-item-background-color: var(--accent-color);
    }

    & a.attention {
      --max-shake-distance: 5%;

      animation: shake 1s ease-in-out infinite;
    }
  }
}
