:where(:root) {
  --neumo-item-color: hsl(0, 0%, 35%);
  --neumo-item-background-color: hsl(0, 0%, 90%);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--neumo-item-color);
  background-color: var(--neumo-item-background-color);

  @media (prefers-color-scheme: dark) {
    --neumo-item-color: hsl(0, 0%, 65%);
    --neumo-item-background-color: hsl(0, 0%, 10%);
  }
}

.neumo {
  :where(&) {
    --neumo-item-distance: 10px;
    --neumo-item-light-angle: 45deg;
    --neumo-item-shadow-color: hsl(0, 0%, 0%, 0.2);
    --neumo-item-highlight-color: hsl(0, 0%, 100%, 0.8);
    --neumo-item-highlight-2-color: hsl(
      from var(--neumo-item-background-color) h s l / 0.8
    );
    --neumo-item-highlight-shadow-size-ratio: 0.6;

    --neumo-item-transition-protperty: box-shadow, color, background-color;
    --neumo-item-transition-duration: 0.5s;
    --neumo-item-transition-timing-function: cubic-bezier(0.5, 0, 0.3, 1.1);

    --neumo-item-shadow-x-offset-base: calc(
      var(--neumo-item-distance) * cos(var(--neumo-item-light-angle))
    );
    --neumo-item-shadow-y-offset-base: calc(
      var(--neumo-item-distance) * sin(var(--neumo-item-light-angle))
    );
    --neumo-item-shadow-spread-base: calc(var(--neumo-item-distance) * 0.5);
    --neumo-item-shadow-offset-factor: 0.5;
    --neumo-item-highlight: calc(
        var(--neumo-item-shadow-x-offset-base) *
          var(--neumo-item-shadow-offset-factor) *
          var(--neumo-item-highlight-shadow-size-ratio) * -1
      )
      calc(
        var(--neumo-item-shadow-y-offset-base) *
          var(--neumo-item-shadow-offset-factor) *
          var(--neumo-item-highlight-shadow-size-ratio) * -1
      )
      calc(var(--neumo-item-shadow-spread-base) * 0.4) 0px
      var(--neumo-item-highlight-color);
    --neumo-item-highlight-2: calc(
        var(--neumo-item-shadow-x-offset-base) *
          var(--neumo-item-shadow-offset-factor) *
          var(--neumo-item-highlight-shadow-size-ratio) * -1
      )
      calc(
        var(--neumo-item-shadow-y-offset-base) *
          var(--neumo-item-shadow-offset-factor) *
          var(--neumo-item-highlight-shadow-size-ratio) * -1
      )
      calc(var(--neumo-item-shadow-spread-base) * 0.4) 0px
      var(--neumo-item-highlight-2-color);
    --neumo-item-shadow: calc(
        var(--neumo-item-shadow-x-offset-base) *
          var(--neumo-item-shadow-offset-factor)
      )
      calc(
        var(--neumo-item-shadow-y-offset-base) *
          var(--neumo-item-shadow-offset-factor)
      )
      calc(var(--neumo-item-shadow-spread-base) * 1) 0px
      var(--neumo-item-shadow-color);

    @media (prefers-color-scheme: dark) {
      --neumo-item-shadow-color: hsl(0, 0%, 0%, 0.8);
      --neumo-item-highlight-color: hsl(0, 0%, 100%, 0.2);
      --neumo-item-highlight-2-color: hsl(
        from var(--neumo-item-background-color) h s l / 0.2
      );
    }

    margin: 10px;
  }

  box-sizing: border-box;
  color: var(--neumo-item-color);
  background-color: var(--neumo-item-background-color);
  border-radius: 10px;
  padding: 10px;
  box-shadow: var(--neumo-item-shadow), var(--neumo-item-highlight),
    var(--neumo-item-highlight-2);
  transition-property: var(--neumo-item-transition-protperty);
  transition-duration: var(--neumo-item-transition-duration);
  transition-timing-function: var(--neumo-item-transition-timing-function);

  &.hollow,
  a&:active,
  a&:focus,
  button&:active,
  input&,
  textarea& {
    box-shadow: inset var(--neumo-item-shadow),
      inset var(--neumo-item-highlight), inset var(--neumo-item-highlight-2);
  }

  a&,
  button& {
    --neumo-item-distance: 5px;

    :where(&) {
      all: unset;

      -webkit-tap-highlight-color: transparent;

      cursor: pointer;
      margin: 5px;
      overflow: hidden;
      text-align: center;
    }

    &:hover {
      --neumo-item-distance: 8px;
    }

    &:active {
      --neumo-item-distance: 5px;
    }
  }

  input&,
  textarea& {
    --neumo-item-distance: 5px;

    :where(&) {
      all: unset;
      text-align: left;
      margin: 5px;
      overflow: hidden;
    }

    &:hover {
      --neumo-item-distance: 8px;
    }

    &:active,
    &:focus {
      --neumo-item-distance: 3px;
    }
  }

  dialog& {
    --neumo-item-distance: 15px;

    :where(&) {
      border: none;
      margin: auto;
    }
  }

  ul& {
    --neumo-item-distance: 5px;

    padding: 5px;

    :where(&) {
      list-style-type: none;
    }
  }

  li& {
    --neumo-item-distance: 5px;

    padding: 5px;

    :where(&) {
      margin: 5px;
    }
  }
}
