:root {
  --color: hsl(0, 0%, 20%);
  --background-color: hsl(0, 0%, 90%);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color);
  background-color: var(--background-color);

  @media (prefers-color-scheme: dark) {
    --color: hsl(0, 0%, 80%);
    --background-color: hsl(0, 0%, 10%);
  }
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

header nav {
  display: flex;
}

header a {
  color: var(--color);
  padding: 0.75rem;
  text-decoration: none;

  &:hover {
    --neumo-item-distance: 15px;
  }
}

main {
  flex: auto;
  display: flex;
  align-items: center;
  text-align: center;

  & > * {
    max-width: 1280px;
    margin: 0 auto;

    @media (max-width: 639px) {
      margin: 2rem;
    }
  }
}

.neumo {
  --neumo-item-distance: 10px;
  --neumo-item-light-angle: 45deg;
  --neumo-item-shadow-color: hsl(0, 0%, 0%, 0.2);
  --neumo-item-highlight-color: hsl(0, 0%, 100%, 0.8);

  --neumo-item-shadow-x-offset-base: calc(
    var(--neumo-item-distance) * cos(var(--neumo-item-light-angle))
  );
  --neumo-item-shadow-y-offset-base: calc(
    var(--neumo-item-distance) * sin(var(--neumo-item-light-angle))
  );
  --neumo-item-shadow-spread-base: calc(var(--neumo-item-distance) * 0.5);
  --neumo-item-shadow: calc(var(--neumo-item-shadow-x-offset-base) * -0.5)
    calc(var(--neumo-item-shadow-y-offset-base) * -0.5)
    calc(var(--neumo-item-shadow-spread-base) * 1) 0px
    var(--neumo-item-highlight-color);
  --neumo-item-highlight: calc(var(--neumo-item-shadow-x-offset-base) * 0.5)
    calc(var(--neumo-item-shadow-y-offset-base) * 0.5)
    calc(var(--neumo-item-shadow-spread-base) * 1) 0px
    var(--neumo-item-shadow-color);

  box-sizing: border-box;
  margin: 10px;
  /* display: block; */
  border-radius: 10px;
  padding: 10px;
  box-shadow: var(--neumo-item-shadow), var(--neumo-item-highlight);
  transition: box-shadow 0.3s cubic-bezier(0.2, 1.1, 0.35, 1.5);

  &.hollow {
    box-shadow: inset var(--neumo-item-shadow),
      inset var(--neumo-item-highlight);
  }

  @media (prefers-color-scheme: dark) {
    --neumo-item-shadow-color: hsl(0, 0%, 0%, 0.8);
    --neumo-item-highlight-color: hsl(0, 0%, 100%, 0.2);
  }
}
