:root {
  --accent-color: hsl(190, 50%, 75%);
  --neumo-item-transition-protperty: box-shadow, color, background-color;
  --neumo-item-transition-duration: 0.5s;
  --neumo-item-transition-timing-function: cubic-bezier(0.15, 1.15, 0.6, 1.45);

  transition-property: var(--neumo-item-transition-protperty);
  transition-duration: var(--neumo-item-transition-duration);
  transition-timing-function: var(--neumo-item-transition-timing-function);

  @media (prefers-color-scheme: dark) {
    --accent-color: hsl(190, 50%, 25%);
  }
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  max-height: 100vh;
  max-height: 100dvh;
  overflow: hidden;

  & header {
    flex: 1 0 0;
  }

  & main {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    view-transition-name: main;

    & > .page {
      max-width: 1280px;
      margin: 0 auto;
    }
  }
}

::view-transition-old(main) {
  opacity: 0;
}
::view-transition-new(main) {
  animation: scale-fade 0.5s ease;
}

@keyframes scale-fade {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shake {
  0% {
    transform: translate(0%, 0%);
  }
  15% {
    transform: translate(
      calc(-0.5 * var(--max-shake-distance, 10%)),
      calc(-1 * var(--max-shake-distance, 10%))
    );
  }
  30% {
    transform: translate(
      calc(1 * var(--max-shake-distance, 10%)),
      calc(0.75 * var(--max-shake-distance, 10%))
    );
  }
  45% {
    transform: translate(
      calc(-0.75 * var(--max-shake-distance, 10%)),
      calc(1 * var(--max-shake-distance, 10%))
    );
  }
  60% {
    transform: translate(
      calc(0.5 * var(--max-shake-distance, 10%)),
      calc(-0.5 * var(--max-shake-distance, 10%))
    );
  }
  75% {
    transform: translate(
      calc(-1 * var(--max-shake-distance, 10%)),
      calc(0.5 * var(--max-shake-distance, 10%))
    );
  }
  90% {
    transform: translate(
      calc(0.75 * var(--max-shake-distance, 10%)),
      calc(-0.75 * var(--max-shake-distance, 10%))
    );
  }
  100% {
    transform: translate(0%, 0%);
  }
}
